<div id='about-container'>
  <div class='medium-8 columns row'>
    <p>
      Learn Web Development using Ruby-on-Rails for free. Students, beginners, and professionals are all welcome. Study sessions will be casual, open, and unorthodox: should be efficient and fun! :3  
    </p>
    <ul>
      <li>Motivate people to love and learn this awesome framework! :)</li>
      <li>Make new friends! :)</li>
      <li>Share and collaborate potential ideas</li>
      <li>Opportunity to discuss emerging technologies</li>
      <li>Personal motivation for my passion to teach, and to improve my English :3</li>
    </ul>
  </div>
</div>