<section id='about-container' data-magellan-target='about-container'>
  <div class='medium-8 columns row'>
    <h2 class='hide'>About</h2>
    <p>
      Learn Web Development using Ruby-on-Rails for free. Students, beginners, and professionals are all welcome. Study sessions will be casual, open, and unorthodox: should be efficient and fun! :3  
    </p>
    <ul>
      <li>Motivate people to love and learn this awesome framework! :)</li>
      <li>Make new friends! :)</li>
      <li>Share and collaborate potential ideas</li>
      <li>Opportunity to discuss emerging technologies</li>
    </ul>
    <h3>
      <%= link_to @meetup_group_link, target: :_blank do %>
        <i class='fa fa-group' aria-hidden='true'></i> Meetup Group
      <% end %>
    </h3>
    <h3>
      <%= link_to @git_repo_link, target: :_blank do %>
        <i class='fa fa-git' aria-hidden='true'></i> Materials Repo
      <% end %>
    </h3>
  </div>
</section>