default: &default
  web:
    username: '<%= ENV['DELAYED_JOB_WEB_USERNAME'] %>'
    password: '<%= ENV['DELAYED_JOB_WEB_PASSWORD'] %>'

development:
  <<: *default

test:
  <<: *default
  
staging:
  <<: *default

production:
  <<: *default