staging:
  web:
    username: '<%= ENV['DELAYED_JOB_WEB_USERNAME'] %>'
    password: '<%= ENV['DELAYED_JOB_WEB_PASSWORD'] %>'

production:
  web:
    username: '<%= ENV['DELAYED_JOB_WEB_USERNAME'] %>'
    password: '<%= ENV['DELAYED_JOB_WEB_PASSWORD'] %>'