test:
  api_key: '<%= ENV['MEETUP_API_KEY] %>'
  group_id: '<%= ENV['MEETUP_GROUP_ID] %>'

development:
  api_key: '<%= ENV['MEETUP_API_KEY] %>'
  group_id: '<%= ENV['MEETUP_GROUP_ID] %>'

production:
  api_key: '<%= ENV['MEETUP_API_KEY] %>'
  group_id: '<%= ENV['MEETUP_GROUP_ID] %>'
