# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rake secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: 612484761a7303d216281e4af22eded62588f206cddb9ce9f7ea62a01191911be70fd70fde4d0f910bd3633ff5b4b210bc6af34d9514de96333bf6e652ddf95a

test:
  secret_key_base: def95b4c795c04a81d793b334c929a78573d856b427869848ae0e7c3ea1637f9e46f4cdb7bba90d5f4775ed3f0c5de1ed6e6b62a19a80fce1a2619beebbbbbe3

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
