body#application-layout {
  background-color: #eaeaea;

  #container {
    margin-top: 1rem;
    padding: 1rem;
    border: 1px solid #eee;
    background-color: white;
    border-radius: 2px;
  }

  div.input.error {
    background-color: #fee;
    margin-bottom: 1rem;
  }
}