// Place all the styles related to the dashboard controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import 'imports/fonts';

$header-bg-color: #dd6666;

header {
  height: 50vh;
  background-color: $header-bg-color;
  text-align: center;

  #header-image {
    height: calc(100% - 4rem);
    width: auto;
    margin: 2rem 0;
    border-radius: 50%;
    border: 1px solid darken($header-bg-color, 5%);
    background-color: lighten($header-bg-color, 5%);
  }

  #header-title {
    margin-left: 2rem;
    font-family: $default-font-header-sans, Arial;
    font-size: 4em;
    color: white;
    display: inline-block;
    vertical-align: middle;
  }
}

$about-bg-color: lighten($header-bg-color, 28%);
$events-bg-color: lighten($header-bg-color, 32%);
$aspirants-bg-color: lighten($header-bg-color, 36%);

#menu {
  background: $about-bg-color;

  a {
    color: #655;
  }

  .title-container {
    padding: 1rem;
    top: -1rem;
    left: -1rem;
    position: relative;
    display: inline-block;
    border-radius: 0.5rem;
  }

  #link-to-about-container {
    background-color: $about-bg-color;
  }

  #link-to-events-container {
    background-color: $events-bg-color;
  }

  #link-to-aspirants-container {
    background-color: $aspirants-bg-color;
  }
}

#about-container, #events-container, #aspirants-container {
  font-size: 1.2em;
  top: -5.9rem;
  position: relative;
  padding-top: 5.9rem;
  z-index: -1;
}

#about-container {
  height: 50vh;
  background: $about-bg-color;
}

#events-container {
  height: 100vh;
  background: $events-bg-color;
}

#aspirants-container {
  height: 100vh;
  background: $aspirants-bg-color;
}