@import 'imports/fonts';

h1, h2, h3, h4, h5, h6 {
  font-family: $default-font-header-sans;
}

#callouts-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;

  .callout {
    transition: opacity 0.2s;
    p {
      margin: 0;
    }
    .close-button {
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      position: absolute;
    }
    &:hover {
      opacity: 0.9;
    }
  }
}